*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
    font-family: Gilroy;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: azure;
}

.left-container{
    background-color: red;
    width: 30vw;
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;

}
.right-container{
    position: relative;
    width: 70vw;
    height: 100%;
    background-color: #fff;
}

.center-container{
    position: absolute;
    width: 40vw;
    height: 50vh;
    background-image: url('img2.png');
    background-position: center;
    background-size: cover;
    background-color:red;
    top: 25vh;
    left: 15vw;
    box-shadow: 7px 29px 49px 0px rgba(0,0,0,0.5);


}

.logo{
    padding: 3rem;
    font-size: 2vw;
}
.info{position: relative;
    display: flex;
    padding: 3rem;
    font-size: 1.4vw;
    position: relative;
    top: 56vh;
}
.info a{
    text-decoration: none;
    margin-left: 1rem;
    color: #fff;
}


.story{
    position: absolute;
    height: 40%;
    left: 30vw;
    top: 30vh;
}
.story h1{
    font-size: 5vw;
    margin-bottom: 2rem;
 

}
.story p{
    margin-left: 0.5rem;
    font-size: 1.1rem;
    padding-right: 2rem;
}

.story p:nth-child(3){
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.menu-container{
    position: absolute;
    width: 40px;
    height: 45px;
    top: 3rem;
    right: 4rem;

}
.menu,
.menu:after,
.menu:before{
    width: 40px;
    height: 5px;
    background-color: #000;

}
.menu{
    position: relative;
    transform: translateY(15px);
}
.menu:before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 10px;
}

.menu:after{
    content:"";
    position: absolute;
    left: 0;
    top: 10px;

}
.social-container{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.social.container{
    display: flex;

}

.social-container li{
    list-style-type: none;
    margin-right: 1rem;
    font-weight: 500;
}
.first-block{
    position: absolute;
    width: 0%;
    height: 100vh;
    background-color: red;
    left: 0;
    animation: overlay-left 4s cubic-bezier(0.074, 0.06, 0.4, 0.92) forwards;

}

/* @keyframes overlay-left{
    0%{
        left: 0%;
        width: 0%;
    }
    50%{
        left: 0%;
        width:100%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
} */






.second{
    background-color: #fff;
    height: 100vh;
    width: 100vw;

}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .container, .left-container, .right-container,.center-container {
      width: 100%;
    }}